// File: _sass/_home-header.scss

/* Styles for the About section */
.hero 
  width: 80%; 
  margin: 50px; // Adjust the margin as needed
  font-size: 16px; // Set the desired font size
}

.hero .title {
  font-size: 24px; // Set the font size for the "About" heading
}

.hero .scroll {
  margin-top: 10px; // Adjust the top margin for the scroll section
  font-size: 14px; // Set the font size for the content within the scroll section
}
