// File: _sass/_home-header.scss

/* Styles for the About section */
.hero .container.is-fluid {
  padding-left: 20px;  // Adjust the left padding as needed
  padding-right: 20px; // Adjust the right padding as needed
}

.hero .title {
  font-size: 24px; // Set the font size for the "About" heading
}

.hero .scroll {
  margin-top: 10px; // Adjust the top margin for the scroll section
  font-size: 14px;  // Set the font size for the content within the scroll section
}
