---
layout: default
---

<hr>
<section class="hero">
  <div class="container is-fluid">
    <h1 class="title is-3">About</h1>
    <div class="scroll">
      <ul>
        <li>Systems Engineering Ph.D. student at Boston University, USA.</li>
        <li>Advisor: <a href="https://sites.bu.edu/depend/people/" target="_blank">Professor Wenchao Li</a></li>
        <li>Co-advisor: <a href="https://christosgcassandras.org/" target="_blank">Professor Christos Cassandras</a></li>
        <li>Research interests: Reinforcement Learning, Optimization and Control, Deep Learning, Cybersecurity of CPS, Intelligent Transportation Systems, IoT.</li>
      </ul>
    </div>
  </div>
</section>

<section class="hero-body">
  <div class="container is-fluid">
    <h1 class="title is-3">Recent News</h1>
    <div class="scroll">
      <ul>
        <li>[11/2024] I presented a poster at the Learning to Trust Autonomy Workshop [<a href="https://sites.bu.edu/learningautonomy/" target="_blank">Link</a>]</li>
        <li>[07/2024] One paper on Reinforcement Learning based Receding Horizon Control using Adaptive Control Barrier Functions has been accepted in CDC 2024. [<a href="https://arxiv.org/pdf/2403.17338" target="_blank">Link</a>]</li>
        <li>[05/2024] Our work was covered by BU College of Engineering [<a href="https://x.com/BUCollegeofENG/status/1803075639970615796" target="_blank">X</a>] [<a href="https://www.linkedin.com/feed/update/urn:li:activity:7208839882750726144/" target="_blank">LinkedIn</a>]</li>
        <li>[05/2024] We won IEEE CSS TC Outstanding Student Paper prize for 2024 for our paper titled: "Optimal Control of Connected Automated Vehicles with Event-Triggered Control Barrier Functions: a Test Bed for Safe Optimal Merging" [<a href="https://arxiv.org/pdf/2306.01871.pdf" target="_blank">paper</a>] [<a href="https://www.bu.edu/cise/cise-students-win-css-tc-2024-paper-prize/" target="_blank">News</a>]</li>
        <li>[03/2024] Our work was featured in the opening ceremony of BU's new RASTIC Lab founded in 2022 with a $8.8 million capital investment from the Innovation Institute at the Massachusetts Technology Collaborative (MassTech) and Boston University [<a href="https://www.bu.edu/cise/rastic-grand-opening-a-new-robot-exploration-and-testing-facility-for-students/" target="_blank">Link</a>]</li>
        <li>[02/2024] I received a travel award from NDSS organizers to attend NDSS VehicleSec 2024.</li>
        <li>[01/2024] One paper about secure control of Connected and Autonomous Vehicles against cyber-attacks has been accepted in NDSS VehicleSec 2024.</li>
        <li>[07/2023] Two papers focused on the cybersecurity of Connected and Automated Vehicles (CAVs) and Control of CAVs in mixed traffic have been presented in IEEE International Conference on Intelligent Transportation Systems (ITSC) 2023.</li>
        <li>[05/2023] Our paper won the Outstanding Student Paper Award at the IEEE Conference on Control Technology and Applications (CCTA) 2023 [<a href="https://github.com/SabbirAhmad26/sabbirahmad26.github.io/blob/main/assets/Photos/CCTA_23.jpg" target="_blank">Certificate</a>] [<a href="https://ieeecss.org/awards/ieee-conference-control-technology-and-applications-ccta-best-student-paper-award-16" target="_blank">News link</a>]</li>
        <li>[04/2023] I received a travel award from Boston University to attend IEEE Conference on Control Technology and Applications (CCTA) 2023.</li>
        <li>[02/2023] I received a travel award from NDSS organizers to attend NDSS VehicleSec 2023.</li>
        <li>[02/2023] One paper about cyber-attacks in transportation systems has been presented in NDSS VehicleSec 2023.</li>
        <li>[11/2016] I won the Stars Of Excellence Award for my research from the Health Minister of Qatar H.E. Dr. Hanan Mohamed Al Kuwari [<a href="https://github.com/SabbirAhmad26/sabbirahmad26.github.io/blob/main/assets/Photos/SOE_16.jpg" target="_blank">Certificate</a>]</li>
      </ul>
    </div>
  </div>
</section>

<!-- =================== Publications Section =================== -->
<section>
    <h1 class="title is-3">Publications</h1>
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/MARL_CBF.gif'>
                    <img width='200' src='images/MARL_CBF.gif' height='120' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
                    <b>Reinforcement Learning-based Receding Horizon Control using Adaptive Control Barrier Functions for Safety-Critical Systems</b>
                    <br/>Zhili Zhang, H M Sabbir Ahmad, Ehsan Sabouni, Yanchao Sun, Furong Huang, Wenchao Li, Fei Miao<br/>Under review (ICRA 2024)<br/>
                </p>
                <!-- Links to Paper, Code, etc. -->
                <div class="publication-links">
                    <a href="https://arxiv.org/abs/2309.11057">[Paper]</a> |
                    <a href="javascript:void(0);" onclick="toggleAbstract('abstract-1')">[Abstract]</a> |
                    <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-1')">[BibTeX]</a> |
                </div>
                <!-- Hidden Abstract and BibTeX sections -->
                <div id="abstract-1" style="display:none;">
                    <p><i>Saty Gauranteed Robust MARL with Hierarchical Control based on CBFs.</i></p>
                </div>
                <pre id="bibtex-1" style="display:none;">
                    @article{Ahmad_01,
                      title={Safety Guaranteed Robust Multi-Agent Reinforcement Learning with Hierarchical Control for Connected and Automated Vehicles},
                      author={Zhili Zhang, H M Sabbir Ahmad, Ehsan Sabouni, Yanchao Sun, Furong Huang, Wenchao Li, Fei Miao},
                      journal={arXiv preprint arXiv:2309.11057},
                      year={2024}
                    }
                </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/mixed_video1.gif'>
                    <img width='200' src='images/mixed_video1.gif' height='80' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
                <b>Reinforcement Learning-based Receding Horizon Control using Adaptive Control Barrier Functions for Safety-Critical Systems</b>
                <br/>Ehsan Sabouni, H M Sabbir Ahmad, Vittorio Giammarino, Christos G Cassandras, Ioannis Ch Paschalidis, Wenchao Li<br/>IEEE CDC 2024 (to appear)<br/>
                <!-- Links to Paper, Code, etc. -->
                <div class="publication-links">
                    <a href="https://arxiv.org/abs/2403.17338">[Paper]</a> |
                    <a href="javascript:void(0);" onclick="toggleAbstract('abstract-2')">[Abstract]</a> |
                    <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-2')">[BibTeX]</a> |
                    <a href="https://github.com/SabbirAhmad26/CDC2024_RL_adpative_MPC_CBF">[Code]</a> |
                </div>
                <!-- Hidden Abstract and BibTeX sections -->
                <div id="abstract-2" style="display:none;">
                    <p><i>A RL based approach for Safety Gauranteed Control for Autonomous Systems.</i></p>
                </div>
                <pre id="bibtex-2" style="display:none;">
                    @article{Ahmad_02,
                      title={Reinforcement Learning-based Receding Horizon Control using Adaptive Control Barrier Functions for Safety-Critical Systems},
                      author={Ehsan Sabouni, H M Sabbir Ahmad, Vittorio Giammarino, Christos G Cassandras, Ioannis Ch Paschalidis, Wenchao Li},
                      journal={arXiv preprint arXiv:2403.17338},
                      year={2024}
                    }
                </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/accident_video.gif'>
                    <img width='200' src='images/accident_video.gif' height='130' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
              <b>Secure Control of Connected and Automated Vehicles Using Trust-Aware Robust Event-Triggered Control Barrier Functions</b>
              <br/>H M Sabbir Ahmad, Ehsan Sabouni, Akua Dickson, Wei Xiao, Christos G. Cassandras, Wenchao Li<br/>NDSS VehicleSec 2024<br/>
                <!-- Links to Paper, Code, etc. -->
                <div class="publication-links">
                    <a href="https://arxiv.org/abs/2401.02306">[Paper]</a> |
                    <a href="javascript:void(0);" onclick="toggleAbstract('abstract-3')">[Abstract]</a> |
                    <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-3')">[BibTeX]</a> |
                    <a href="https://github.com/SabbirAhmad26/Trust_based_CBF">[Code]</a> |
                </div>
                <!-- Hidden Abstract and BibTeX sections -->
                <div id="abstract-3" style="display:none;">
                    <p><i>Trust Aware Secure and Safe Control using Control Barrier Functions.</i></p>
                </div>
                <pre id="bibtex-3" style="display:none;">
                    @article{Ahmad_03,
                      title={Secure Control of Connected and Automated Vehicles Using Trust-Aware Robust Event-Triggered Control Barrier Functions},
                      author={H M Sabbir Ahmad, Ehsan Sabouni, Akua Dickson, Wei Xiao, Christos G. Cassandras, Wenchao Li},
                      journal={Symposium on Vehicles Security and Privacy (VehicleSec)},
                      year={2024}
                    }
                </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/rescav.png'>
                    <img width='200' src='images/rescav.png' height='130' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
                <b>Trust-Aware Resilient Control and Coordination of Connected and Automated Vehicles</b>
                <br/>H M Sabbir Ahmad, Ehsan Sabouni, Wei Xiao, Christos G. Cassandras, Wenchao Li<br/>IEEE ITSC 2023<br/>
                <!-- Links to Paper, Code, etc. -->
                <div class="publication-links">
                    <a href="https://ieeexplore.ieee.org/abstract/document/10421858">[Paper]</a> |
                    <a href="javascript:void(0);" onclick="toggleAbstract('abstract-4')">[Abstract]</a> |
                    <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-4')">[BibTeX]</a> |
                </div>
                <!-- Hidden Abstract and BibTeX sections -->
                <div id="abstract-4" style="display:none;">
                    <p><i>Trust Aware Control and Coordination using Control Barrier Functions.</i></p>
                </div>
                <pre id="bibtex-4" style="display:none;">
                    @article{Ahmad_04,
                      title={Trust-Aware Resilient Control and Coordination of Connected and Automated Vehicles},
                      author={H M Sabbir Ahmad, Ehsan Sabouni, Wei Xiao, Christos G. Cassandras, Wenchao Li},
                      journal={IEE International Conference on Intelligent Transportation Systems},
                      year={2023}
                    }
                </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
    <!-- Publication 1 -->
    <tr>
        <!-- Publication Image -->
        <td style='width:300px;height:150px'>
            <a imageanchor='1' href='images/Safe_sequencing.png'>
                <img width='200' src='images/Safe_sequencing.png' height='130' border='0' style='border-radius: 5px'/>
            </a>
        </td>
        <!-- Publication Details -->
        <td width="67%" valign="top">
            <b>Merging Control in Mixed Traffic with Safety Guarantees: A Safe Sequencing Policy with Optimal Motion Control</b>
            <br/> Ehsan Sabouni, H.M. Sabbir Ahmad, Christos G. Cassandras, Wenchao Li
            <br/>2023 IEEE ITSC
            <br/>
            <!-- Links to Paper, Code, etc. -->
            <div class="publication-links">
                <a href="https://ieeexplore.ieee.org/document/10422265">[PDF]</a> |
                <a href="javascript:void(0);" onclick="toggleAbstract('abstract-14')">[Abstract]</a> |
                <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-14')">[BibTeX]</a>
            </div>
            <!-- Hidden Abstract and BibTeX sections -->
            <div id="abstract-14" style="display:none;">
                <p><i>This paper presented safety gauranteed optimal control approach for Connected and Automated Vehicles in the presence of Human Driven Vehicles.</i></p>
            </div>
            <pre id="bibtex-14" style="display:none;">
                @inproceedings{Sabouni2023MergingControl,
                  title={Merging Control in Mixed Traffic with Safety Guarantees: A Safe Sequencing Policy with Optimal Motion Control},
                  author={Ehsan Sabouni and H.M. Sabbir Ahmad and Christos G. Cassandras and Wenchao Li},
                  booktitle={2023 IEEE 26th International Conference on Intelligent Transportation Systems (ITSC)},
                  pages={4260--4265},
                  year={2023},
                  organization={IEEE},
                  doi={10.1109/ITSC54792.2023.10422265}
                }
            </pre>
        </td>
    </tr>
</table>
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="15">
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/event_TAC.gif'>
                    <img width='200' src='images/event_TAC.gif' height='130' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
                <b>Optimal control of connected automated vehicles with event-triggered control barrier functions: a test bed for safe optimal merging</b>
                <br/>Ehsan Sabouni, H M Sabbir Ahmad, Wei Xiao, Christos G. Cassandras, Wenchao Li<br/>2023 IEEE CCTA<br/>
                <!-- Links to Paper, Code, etc. -->
              <div class="publication-links">
                  <a href="https://ieeexplore.ieee.org/document/10253379">[Paper]</a> |
                  <a href="javascript:void(0);" onclick="toggleAbstract('abstract-5')">[Abstract]</a> |
                  <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-5')">[BibTeX]</a> |
              </div>
              <!-- Hidden Abstract and BibTeX sections -->
              <div id="abstract-5" style="display:none;">
                  <p><i>A Testbed for Event-Triggered Control using Control Barrier Functions.</i></p>
              </div>
              <pre id="bibtex-5" style="display:none;">
                  @article{Ahmad_05,
                    title={Optimal control of connected automated vehicles with event-triggered control barrier functions: a test bed for safe optimal merging},
                    author={Ehsan Sabouni, H M Sabbir Ahmad, Wei Xiao, Christos G Cassandras, Wenchao Li},
                    journal={IEEE Conference on Control Technology and Applications (CCTA)},
                    year={2023}
                  }
              </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
  <table style='border-width:0px;border-color:rgb(255,255,255);border-collapse:collapse' cellspacing='0' bordercolor='#888' border='1'>
        <!-- Publication 1 -->
        <tr>
            <!-- Publication Image -->
            <td style='width:300px;height:150px'>
                <a imageanchor='1' href='images/Cyber_attack.gif'>
                    <img width='200' src='images/Cyber_attack.gif' height='130' border='0' style='border-radius: 5px'/>
                </a>
            </td>
            <!-- Publication Details -->
            <td width="67%" valign="top">
              <b>Evaluations of cyber attacks on cooperative control of connected and autonomous vehicles at bottleneck points</b>
              <br/> H M Sabbir Ahmad, Wei Xiao, Christos G Cassandras, Wenchao Li <br/>2023 NDSS VehicleSec Symposium<br/> 
              <!-- Links to Paper, Code, etc. -->
              <div class="publication-links">
                  <a href="https://par.nsf.gov/servlets/purl/10420904">[Paper]</a> |
                  <a href="javascript:void(0);" onclick="toggleAbstract('abstract-6')">[Abstract]</a> |
                  <a href="javascript:void(0);" onclick="toggleBibtex('bibtex-6')">[BibTeX]</a> |
              </div>
              <!-- Hidden Abstract and BibTeX sections -->
              <div id="abstract-6" style="display:none;">
                  <p><i>Evaluations of Cyber-attacks on Connected and Automated Vehicles.</i></p>
              </div>
              <pre id="bibtex-6" style="display:none;">
                  @article{Ahmad_06,
                    title={Evaluations of cyber attacks on cooperative control of connected and autonomous vehicles at bottleneck points},
                    author={H M Sabbir Ahmad, Ehsan Sabouni, Wei Xiao, Christos G Cassandras, Wenchao Li},
                    journal={Symposium on Vehicles Security and Privacy (VehicleSec)},
                    year={2023}
                  }
              </pre>
            </td>
        </tr>
        <!-- Additional publications... -->
    </table>
</section>

<!-- Link to the external JavaScript file -->
<script src="js/scripts.js"></script>


 
