---
layout: default
---

<!-- main body -->
 <body>
    <hr>
       <section class="hero">
       <div class="hero-body">
           <div class="container">
             <h1 class="title is-3">Recent News</h1>
             <!--div class="content"-->
       <div class="scroll">
    <ul>
      <li> [07/2023] Two papers have been accepted in ITSC 2023.  </li>
      <li> [05/2023] One paper has been accepted in CCTA 2023, and is selected as the best student paper award finalist.  </li>
      <li> [02/2023] One paper about cyber-attacks in transportation systems has been accepted in NDSS VehicleSec 2023.  </li>
    </ul>
             </div>
           </div>
       </div>
    <hr>         
</body>


